/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

ul,
li {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
/* Main Header Section */
#header {
}

.header__main-header {
  border: 1px solid black;
  font-size: 40px;
  text-align: center;
  position: relative;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.header__logo {
  position: absolute;
}

.header__title {
  text-transform: uppercase;
}

/* Sub-header Section */
.header__sub-header {
  text-align: center;
  padding: 1rem;
}

.header__pizza-name {
  font-size: 20px;
  text-transform: uppercase;
}

.header__pizza-caption {
  margin-top: 1rem;
}
/* Main content */
#main {
  padding: 1rem 2rem;
}

#content {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Step button */
.content__pizza {
  border: 1px solid blue;
  width: 70%;
}

.content__pizza-button-list {
  border: 1px solid black;
  display: flex;
  height: 20%;
}

.content__pizza-button > a {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #333;
  color: white;
  text-decoration: none;
}

.content__pizza-button > a:hover {
  background-color: white;
  color: #333;
}

/* Main pizza content */
.content__pizza-main {
  border: 1px solid red;
  height: 80%;
}

/* Main ingredient content */
.content__ingredient {
  width: 30%;
}

.content__ingredient-list {
  border: 1px solid black;
}

.content__ingredient-item {
  border: 1px solid red;
  height: 150px;
}

/* Main step-explaination */
#steps {
  border: 1px solid black;
  width: 100%;
  height: 200px;
  padding: 1rem;
}

.step__list {
  border: 1px solid black;
}



/* Step 2 Style  */
.animation-sauce {
  position: relative;
  left: 40px;
}
#spoonhold {
  animation: slide 5s infinite alternate-reverse ease-in-out;
  z-index: 2;
  position: absolute;
}
#spoon {
  height: auto;
  width: auto;
  max-width: 170px;
  animation: bob 3s infinite alternate-reverse;
}
#splat {
  z-index: 1;
  position: absolute;
  top: -400px;
  width: 1200px;
  perspective: 100px;
  animation: pizza_spin 35s infinite linear;
}
/* Step 2 - Keyframes */
@keyframes slide {
  from {
    transform: translateX(140px);
  }
  to {
    transform: translateX(770px);
  }
}
@keyframes bob {
  from {
    transform: translateY(-50px);
    rotate: 5deg;
  }
  to {
    transform: translateY(25px);
    rotate: 20deg;
  }
}
@keyframes pizza_spin {
  from {
    transform: rotateX(75deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(75deg) rotateZ(360deg);
  }
}

/* Step 4 Style */
.animation-oven {
  overflow: hidden;
}
#oven {
  position: relative;
  height: 360px;
  z-index: 4;
}
#pizza {
  position: absolute;
  top: 425px;
  left: 165px;
  height: 100px;
  transform: perspective(70px) rotatex(45deg);
  z-index: 2;
}
#rack {
  z-index: 1;
  position: absolute;
  top: 470px;
  left: 125px;
  height: 100px;
}
#heat {
  z-index: 3;
  position: absolute;
  top: 387px;
  left: 126px;
  background-color: rgb(255, 114, 58);
  height: 200px;
  width: 180px;
  opacity: 40%;
  animation: oven-heat 1s infinite;
  animation-direction: alternate-reverse;
}
#timer {
  position: absolute;
  height: 330px;
  max-width: 100%;
  max-height: 100%;
  animation: timer-flash 1s infinite;
  animation-direction: alternate-reverse;
}
/* Step 4 - Keyframes */
@keyframes oven-heat {
  70% {
    background-color: rgb(255, 114, 58);
  }
  100% {
    background-color: rgb(255, 68, 0);
  }
}
@keyframes timer-flash {
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 30%;
  }
}
