.explanation {
  height: 20%;
  width: 100%;
  opacity: 0;
  text-align: center;
  animation: fadeInLeft 1s;
}

.animation-dough {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pin {
  height: 175px;
  width: 175px;
  max-width: 170px;
  margin: 0 -30px;
  animation: roll-pin 2s linear infinite;
}

.base-element {
  width: 175px;
  height: 175px;
  
  border-radius: 50%;
  margin: 0 10px;
}
.base-element:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes roll-pin {
  0% {
    transform: translateX(-10px) rotate(0deg);
  }
  50% {
    transform: translateX(10px) rotate(20deg);
  }
  100% {
    transform: translateX(-10px) rotate(0deg);
  }
}

