.explanation {
  height: 20%;
  width: 100%;
  opacity: 0;
  text-align: center;
  animation: fadeInLeft 1s;
}

.animation-dough {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bowl {
  height: auto;
  width: auto;
  max-width: 170px;
}

.ingredient {
  width: 40px;
  height: 40px;
  background-color: #f1c40f; /* Yellow */
  border-radius: 50%;
  margin: 0 -100px;
  animation: ingredient-fall 2s ease-out infinite;
}

.kneading-animation {
  width: 60px;
  height: 60px;
  
  border-radius: 50%;
  animation: dough-kneading 2s ease-out infinite;
}

@keyframes ingredient-fall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100px);
  }
}

@keyframes dough-kneading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ingredient-fall {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }