body
{
	width: 100vw;
}
.top-banner
{
	display:flex;
	flex-direction:row;
	width:100%;
	height:8vh;
	margin-bottom: 1em;
}
#logo
{
	width:10%;
	height:100%;
	background-color:black;
	color:white;
	justify-content:center;
	align-items:center;
	display:flex;
}
#title
{
	display:flex;
	width:95%;
	height:100%;
	background-color:#D9D9D9;
	justify-content:center;
	align-items:center;
	font-weight:bold;
	font-size:30pt;
}
.recipe-stuff
{
	margin:auto;
	height:80vh;
	width:95%;
	display:flex;
	flex-direction:column;
	margin-bottom: 1em;
}
.ingredient-and-animation
{
	height:70%;
	width:100%;
	display:flex;
	flex-direction:row;
	margin-bottom:1em;
}
.ingredient-zone
{
	display:flex;
	flex-direction:column;
	height:100%;
	width:30%;
}
.animation-zone
{
	width:70%;
	height:100%;
	background-color:#D9D9D9;
	margin-right:1em;
	font-size:100pt;
	font-weight:bold;
}
.ingredient-set
{
	flex-grow:1;
	margin-bottom:2em;
	background-color:#D9D9D9;
}
.explanation-zone
{
	background-color:#D9D9D9;
	display:grid;
	width:100%;
	height:25%;
	grid-template-columns:auto;
	margin-bottom:3em;
}
.copyright
{
	width:100%;
	height:8vh;
	background-color:#D9D9D9;
}

/*Just leaving it like this so we can do animation later to switch between steps through opacity animation*/
#recipe1-step1
{
	grid-column-start:1;
	grid-row-start:1;
	opacity:1;
	z-index:1;
}
#recipe1-step2
{
	grid-column-start:1;
	grid-row-start:1;
	opacity:0;
	z-index:2;
}

