body
{
	width: 100vw;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
ul,li 
{
  list-style: none;
}
span
{
	font-weight:bold;
}
.top-banner
{
	display:flex;
	flex-direction:row;
	width:100%;
	height:8vh;
	margin-bottom: 2em;
}
#logo
{
	width:7%;
	height:100%;
	background-color:black;
	color:white;
	justify-content:center;
	align-items:center;
	display:flex;
}
#title
{
	display:flex;
	width:93%;
	height:100%;
	color:white;
	background-color: #333;
	justify-content:center;
	align-items:center;
	font-size:30pt;
}
.recipe-stuff
{
	margin:auto;
	height:70vh;
	width:95%;
	display:flex;
	flex-direction:column;
	margin-bottom: 3em;
}
.recipe-description-zone
{
	display:flex;
	flex-direction:column;
	height:5%;
	margin-bottom:1em;
	width:100%;
}
.recipe-title
{
	height:20%;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size: 20px;
	margin-bottom: 1em;
	text-transform: uppercase;
}
.recipe-description
{
	height:10%;
	text-align:center;
}
.ingredient-and-animation
{
	height:85%;
	width:100%;
	display:flex;
	flex-direction:row;
	margin-bottom:1em;
}
.ingredient-zone
{
	display:flex;
	flex-direction:column;
	height:100%;
	width:30%;
}
.animation-zone
{
	width:70%;
	height:100%;
	border:1px solid black;
	margin-right:1em;
	display:flex;
	flex-direction:column;
}
.step-button-zone
{
	height:15%;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#D9D9D9;
}
/*These are for the buttons appearance*/
.content__pizza-button{
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #333;
  color: white;
  text-decoration: none;
  
}
.content__pizza-button-list {
  display: flex;
  height: 100%;
  justify-content: center; 
  align-items: center; 
}
.explanation-zone
{
	height:85%;
	display:flex;
}
.ingredient-set
{
	flex-grow:1;
	margin-bottom:1px;
	background-color:#D9D9D9;
	display:flex;
	justify-content:center;
	align-items:center;
}
.copyright
{
	width:100%;
	height:8vh;
	background-color:#D9D9D9;
}
/*The explanation zone stuff */
.step-explanation:target 
{
	display:block;
	opacity:1;
}
.step-explanation
{
	height:100%;
	width:100%;
	display:none;
	flex-direction:column;
	opacity: 0; 
	background-color:#D9D9D9;
}
.explanation
{
	height:20%;
	width:100%;
	opacity: 0; 
	text-align:center;
	animation: fadeInLeft 1s;
}
.animation
{
	width:100%;
	height:80%;
}
.step-explanation:target .explanation
{
	opacity:1;
}
.step-explanation:target .animation
{
	opacity: 1; 
	animation: appearSlowly 2s;
}
@keyframes appearSlowly
{
	from
	{
		opacity:0;
	}
	to
	{
		opacity:1;
	}
}
/*Step 1 stuff*/
@keyframes fadeInLeft 
{
	from 
	{
		opacity: 0;
		transform: translateX(-10%);
	}
	to 
	{
		opacity: 1;
		transform: translateX(0);  
	}
}
.pizza 
{
    width: 100px;
    height: 100px;
	background-color: #f8d193; 
    border: 2px solid #333;
    border-radius: 50%;
    opacity: 1; 
	position:absolute;
	margin:5px;
}
.pizza-step-1 {
    width: 100px;
    height: 100px;
    background-color: #f8d193;
}
.content__pizza-button:hover {
  background-color: white;
  color: #333; 
}
/*Step 3 stuff*/
.pizza-step-2 {
    width: 200px;
    height: 200px;
    background-color: #f2d58a;
    
}
.pizza-step-3 {
	content: "";
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #c91404;
    position: absolute;
    top: 10%; 
    left: 10%

}
.cheese{
	position: absolute;
    width: 70%;
    height: 70%;
    background-color: #ffd700;
    top: 15%;
    left: 15%;
    border-radius: 50%;

}
.pepperoni {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff3300; /* Pepperoni color */
    border-radius: 50%;
    opacity: 0; /* Initially hidden */
    animation: placePepperoni 3s ease-in-out infinite;
}
/* Define positions for each pepperoni topping */
.pepperoni1 { top: 15%; left: 45%; }
.pepperoni2 { top: 40%; left: 20%; }
.pepperoni3 { top: 60%; left: 70%; }
.pepperoni4 { top: 40%; left: 70%; }
.pepperoni5 { top: 50%; left: 50%; }
.pepperoni6 { top: 70%; left: 50%; }
.pepperoni7 { top: 20%; left: 60%; }
.pepperoni8 { top: 65%; left: 20%; }
.pepperoni9 { top: 20%; left: 30%; }
.pepperoni10 { top: 40%; left: 40%; }
@keyframes placePepperoni {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    25% {
        opacity: 1;
        transform: translate(10px, 10px);
    }
    50% {
        opacity: 1;
        transform: translate(-10px, 10px);
    }
    75% {
        opacity: 1;
        transform: translate(10px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
/*Step 4 stuff*/
/* Step 4 Style  */
.animation-sauce {
  position: relative;
  left: 40px;
}
#spoonhold {
  animation: slide 5s infinite alternate-reverse ease-in-out;
  z-index: 2;
  position: absolute;
}
#spoon {
  height: auto;
  width: auto;
  max-width: 170px;
  animation: bob 3s infinite alternate-reverse;
}
#splat {
  z-index: 1;
  position: absolute;
  top: -400px;
  width: 1200px;
  perspective: 100px;
  animation: pizza_spin 35s infinite linear;
}
/* Step 4 - Keyframes */
@keyframes slide {
  from {
    transform: translateX(140px);
  }
  to {
    transform: translateX(770px);
  }
}
@keyframes bob {
  from {
    transform: translateY(-50px);
    rotate: 5deg;
  }
  to {
    transform: translateY(25px);
    rotate: 20deg;
  }
}
@keyframes pizza_spin {
  from {
    transform: rotateX(75deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(75deg) rotateZ(360deg);
  }
}

/*Step 5 stuff*/
.animation-oven {
  overflow: hidden;
}
#oven {
  position: relative;
  height: 360px;
  z-index: 4;
}
#pizza {
  position: absolute;
  top: 425px;
  left: 165px;
  height: 100px;
  transform: perspective(70px) rotatex(45deg);
  z-index: 2;
}
#rack {
  z-index: 1;
  position: absolute;
  top: 470px;
  left: 125px;
  height: 100px;
}
#heat {
  z-index: 3;
  position: absolute;
  top: 387px;
  left: 126px;
  background-color: rgb(255, 114, 58);
  height: 200px;
  width: 180px;
  opacity: 40%;
  animation: oven-heat 1s infinite;
  animation-direction: alternate-reverse;
}
#timer {
  position: absolute;
  height: 330px;
  max-width: 100%;
  max-height: 100%;
  animation: timer-flash 1s infinite;
  animation-direction: alternate-reverse;
}
/* Step 5 - Keyframes */
@keyframes oven-heat {
  70% {
    background-color: rgb(255, 114, 58);
  }
  100% {
    background-color: rgb(255, 68, 0);
  }
}
@keyframes timer-flash {
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 30%;
  }
}
