h1, h2, h3, ul, ol, p{
	text-align: center;  
}

.top {
  padding: 5px;
  text-align: center;
  border: solid 2px black; 
}

.top h1 {
  font-size: 40px;
}


.main{  
	
  display: flex;
  flex-wrap: wrap; 
  margin: auto; 
   
}

.left{
  flex: 10%; 
  border-right: solid 2px black; 

}

.middle{   
  flex: 70%;
  padding: 20px;   
}

.right {
  text-align: center;
  flex: 10%; 
  border-left: solid 2px black; 

}