@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-white: #f8fdfd;
  --color-black: #333;
  --color-blue: #3645ff;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  border: 1px solid black;
  background: url(./background2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header {
  width: 100%;
}

.header__box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
  background-color: var(--color-black);
}

.header__logo {
  font-size: 30px;
  margin-left: 2rem;
  color: var(--color-white);
}

.header__navbar {
  display: flex;
  margin-right: 3rem;
  gap: 1rem;
}

.header__navbar > a {
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  letter-spacing: 1px;
}

.header__link:hover {
  color: var(--color-blue);
}

#title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 3rem;
  color: var(--color-blue);
  text-shadow: 2px 2px var(--color-white);
}

#content {
  border: 2px solid var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 1rem 3rem;
  margin: 1rem 4rem;
  line-height: 2;
  background-color: var(--color-white);
  box-shadow: 25px 25px 3px -10px var(--color-blue);
}

.content__team-member {
  margin-left: 2rem;
}

#copyright {
  padding: 0.3rem;
  margin-top: 4rem;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  font-size: 12px;
  line-height: 1.6;
}
