@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: url(./img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.content {
  border: 1px solid black;
  line-height: 2;
  margin: 12rem 20rem;
  font-size: 18px;
  background-color: rgb(230, 203, 167);
  position: relative;
  padding: 1rem;
}

#icon {
  border: 2px solid black;
  background-color: white;
  border-radius: 50%;
  display: block;
  position: absolute;
  width: 100px;
  top: -2.5rem;
  left: -2.5rem;
}

.content-title {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.group-information {
}
