@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-white: #f8fdfd;
  --color-black: #1f1f1f;
  --color-blue: #3645ff;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  border: 1px solid black;
  height: 1000px;
  /* background: url(./img2.jpg); */
  /* background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; */
}

#header {
  width: 100%;
}

.header__box {
  border: 1px solid blue;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #1f1f1f;
}

.header__logo {
  font-size: 30px;
  margin-left: 2rem;
  color: white;
}

.header__navbar {
  border: 1px solid red;
  display: flex;
  margin-right: 2rem;
  gap: 1rem;
}

.header__navbar > a {
  border: 1px solid blue;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  display: inline-block;
}
/* 
.content {
  border: 1px solid black;
  line-height: 2;
  font-size: 18px;
  background-color: white;
  position: relative;
  padding: 1rem;
}

.content-title {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.line-break {
  border: 1px solid black;
} */

/* #icon {
  border: 2px solid black;
  background-color: white;
  border-radius: 50%;
  display: block;
  position: absolute;
  width: 100px;
  top: -2.5rem;
  left: -2.5rem;
} */

/* .group-information {
  padding: 1rem;
}

.team-member {
  padding: 0 2rem;
} */
