body
{
	width: 100vw;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
ul,li 
{
  list-style: none;
}
span
{
	font-weight:bold;
}
.top-banner
{
	display:flex;
	flex-direction:row;
	width:100%;
	height:8vh;
	margin-bottom: 2em;
}
#logo
{
	width:7%;
	height:100%;
	background-color:black;
	color:white;
	justify-content:center;
	align-items:center;
	display:flex;
}
#title
{
	display:flex;
	width:93%;
	height:100%;
	color:white;
	background-color: #333;
	justify-content:center;
	align-items:center;
}
.recipe-stuff
{
	margin:auto;
	width:95%;
	display:flex;
	flex-direction:column;
	margin-bottom: 3em;
}
.recipe-description-zone
{
	display:flex;
	flex-direction:column;
	height:5%;
	margin-bottom:1em;
	width:100%;
}
.recipe-title
{
	height:20%;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size: 20px;
	margin-bottom: 1em;
	text-transform: uppercase;
}
.recipe-description
{
	height:10%;
	text-align:center;
}
.ingredient-and-animation
{
	height:100%;
	width:100%;
	display:flex;
	flex-direction:row;
	
}
.ingredient-zone
{
	display:flex;
	flex-direction:column;
	width:30%;
}
.animation-zone
{
	width:70%;
	height:100%;
	border:1px solid black;
	margin-right:1em;
	display:flex;
	flex-direction:column;
	margin-bottom: 3em; 
}
.step-button-zone
{
	height:15%;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#D9D9D9;
}
/*These are for the buttons appearance*/
.content__burger-button{
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #333;
  color: white;
  text-decoration: none;
  
}
.content__burger-button-list {
  display: flex;
  height: 100%;
  justify-content: center; 
  align-items: center; 
  margin: 1em; 
}
.explanation-zone
{
	height:85%;
	display:flex;
}
.ingredient-set
{
	flex-grow:1;
	margin-bottom:1px;
	background-color:#D9D9D9;
	display:flex;
	justify-content:center;
	align-items:center;
}
.copyright
{
	width:100%;
	height:8vh;
	margin: 1em; 
	background-color:#D9D9D9; 
	position: relative; 
}
/*The explanation zone stuff */
.step-explanation:target 
{
	display:block;
	opacity:1;
}
.step-explanation
{
	height:100%;
	width:100%;
	display:none;
	flex-direction:column;
	opacity: 0; 
	background-color:#D9D9D9;
}
.explanation
{
	height:100%;
	width:100%;
	opacity: 0; 
	
	text-align:center;
	animation: fadeInLeft 1s;
}
.animation2
{
	width:100%;
	height:100%;
	display: flex; 
	flex-direction: row; 
	justify-content: center;
}
.animation1{
	width: 100%;
	height: 100%; 
	display: flex; 
	justify-content: center; 
}
.step-explanation:target .explanation
{
	opacity:1;
}
.step-explanation:target .animation
{
	opacity: 1; 
	animation: appearSlowly 2s;
}
@keyframes appearSlowly
{
	from
	{
		opacity:0;
	}
	to
	{
		opacity:1;
	}
}
/*Step 1 stuff*/
@keyframes fadeInLeft 
{
	from 
	{
		opacity: 0;
		transform: translateX(-10%);
	}
	to 
	{
		opacity: 1;
		transform: translateX(0);  
	}
}

@keyframes burgerMove {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    25% {
        opacity: 1;
        transform: translate(10px, 10px);
    }
    50% {
        opacity: 1;
        transform: translate(-10px, 10px);
    }
    75% {
        opacity: 1;
        transform: translate(10px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
#grill{
	position: relative;
	width: auto; 
	height: 200px; 
	margin-top: 9em;
	
	
}
#smoke{
	position: absolute; 
	width: auto; 
	height: 100px; 
	margin-top: 2em; 
	animation: smoke-heat 2s infinite;
	animation-direction: alternate-reverse;
	
}
/*Step 2 stuff */
#knife{
	width: 200px; 
	animation: bob 3s infinite alternate-reverse;
	position: absolute; 
	
}
#lettuce{
	
	width: 200px; 
}
#patty{
 
  position: relative;
  width: auto; 
  height: auto; 
  perspective: 100px; 
  
}
#grillingpatty{
	
	margin-top: 4em; 
	position: absolute; 
	width: 100px; 
	animation: bob 3s infinite alternate-reverse;
	
}
#finalburger{
	margin: 5em; 
	width: auto; 
	height: auto; 
	max-width: 360px; 
	animation: burgerMove 3s ease-in-out infinite; 
	
}
/* Step 3, 4- Keyframes */

@keyframes bob {
  from {
    transform: translateY(0px);
    rotate: 20deg;
  }
  to {
    transform: translateY(25px);
    rotate: 20deg;
  }
}

/* Step 1- Keyframes */
@keyframes smoke-heat {
  70% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}

@media screen and (max-width: 700px) {
  .ingredient-and-animation{   
    flex-direction: column;
    
  }
  .animation-zone, .ingredient-zone{
  	width: 100%; 
	margin-bottom: 3em; 
  }
  
}

@media screen and (max-width: 400px) {
  .step-explanation a {
    float: none;
    width: 100%;
  }
}

.recipe-step {
            width: 90%; 
            margin: auto; 
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
			font-size: 12pt; 
        }

        /* Define styles for the hovered step */
        .recipe-step:hover {
            background-color: black; /* Change to desired hover color */
            color: white; 
            transform: scale(1.1); /* Scale up the step on hover */
        }

        /* Define styles for the recipe step animations */
        .recipe-step:nth-child(odd) {
            animation: fadeInLeft 1s;
        }

        .recipe-step:nth-child(even) {
            animation: fadeInRight 1s;
        }
/*Step 2 stuff */
.animation-mix{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.ingredient {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
	position: relative; 
    margin: 0 -250px;
    animation: ingredient-fall 2s ease-out infinite;
}

@keyframes ingredient-fall{
	0% {
		transform: translateY(-100px);
		opacity: 1;
		}
	90% {
		transform: translateY(0);
		opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 0;
			}
	}
#bowl {
    height: auto;
    width: auto;
	
	position: relative; 
	margin-top: 5em; 
}
